%section#banner.pages.banner{'data-type' => 'background', 'data-speed' => '10'}
  .row
    .banner-area
      #logo_img
        = image_tag('charles-logo.png')
%section#latest.pages.container-fluid.content-section{'data-type' => 'background', 'data-speed' => '10'}
  .row
    .col-lg-10.col-lg-offset-1
      .content-container
        %h2.lato Latest
        .top-arrow
          %a.page-scroll{href: '#logo'}
            = fa_icon 'arrow-circle-up 2x'
          %a#twitter_anchor.page-scroll{href: '#twitter'}
            = fa_icon 'twitter 2x'
        %img.spinner{src: image_path('ajax-loader.gif')}
        #latest_content.container-fluid
          .latest-content.row
