.media-container
  .media-bar
    %ul.list-unstyled.list-inline
      %li
        %a#music_link.media-link.black{href: '#logo'}
          = fa_icon 'music'
      %li
        %a#video_link.media-link.black{href: '#video'}
          = fa_icon 'film'
      %li
        %a#photos_link.media-link.black{href: '#photo'}
          = fa_icon 'camera'
      %li
        %a#top_link.media-link.black.hidden{href: '#logo'}
          = fa_icon 'arrow-circle-up'
  %section#music{'data-type' => 'background', 'data-speed' => '10'}
  %section#video{'data-type' => 'background', 'data-speed' => '10'}
  %section#photo{'data-type' => 'background', 'data-speed' => '10'}
-#.sm2-bar-ui
  .bd.sm2-main-controls
    .sm2-inline-texture
    .sm2-inline-gradient
    .sm2-inline-element.sm2-button-element
      .sm2-button-bd
        %a.sm2-inline-button.play-pause{:href => "#play"}
        .sm2-inline-element.sm2-inline-status
          .sm2-playlist
            .sm2-playlist-target
              / playlist <ul> + <li> markup will be injected here
              / if you want default / non-JS content, you can put that here.
          .sm2-progress
            .sm2-row
              .sm2-inline-time 0:00
              .sm2-progress-bd
                .sm2-progress-track
                  .sm2-progress-bar
                  .sm2-progress-ball
                    .icon-overlay
              .sm2-inline-duration 0:00
        .sm2-inline-element.sm2-button-element.sm2-volume
          .sm2-button-bd
            %span.sm2-inline-button.sm2-volume-control.volume-shade
            %a.sm2-inline-button.sm2-volume-control{:href => "#volume"} volume
        .sm2-inline-element.sm2-button-element.sm2-menu
          .sm2-button-bd
            %a.sm2-inline-button.menu{:href => "#menu"} menu
      .bd.sm2-playlist-drawer.sm2-element
        .sm2-inline-texture
          .sm2-box-shadow
        / playlist content is mirrored here
        .sm2-playlist-wrapper
          %ul.sm2-playlist-bd
            / li of playlist locations
        .sm2-extra-controls
          .bd
            .sm2-inline-element.sm2-button-element
              %a.sm2-inline-button.previous{:href => "#prev", :title => "Previous"} &lt; previous
            .sm2-inline-element.sm2-button-element
              %a.sm2-inline-button.next{:href => "#next", :title => "Next"} &gt; next
