#other_contribution_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        %h2 Contribute Other Amount
        %form{method: 'post', action: '/send_contribution'}
          = hidden_field_tag :authenticity_token, form_authenticity_token
          .form-group
            %input.form-control#other_contribution_input{name: 'contribution_amount', type: 'number', step: 1, required: true}
          .form-group.text-center
            %button.btn.btn-default{type: 'button', 'data-dismiss' => 'modal'} Close
            = submit_tag "Submit", 'data-disable-with' => "Redirecting...", class: 'btn btn-inverse'
