@font-face {
  font-family: 'lato-hai';
  src: url(font-path('Lato-Hai.tff')) format('truetype');
}

body {
  font-family: 'lato-hai' !important;
  //background: -webkit-radial-gradient(black 5%, lightgray 40%, white 55%); /* For Safari 5.1 to 6.0 */
  //background: -o-radial-gradient(black 5%, lightgray 40%, white 55%); /* For Opera 11.1 to 12.0 */
  //background: -moz-radial-gradient(black 5%, lightgray 40%, white 55%); /* For Firefox 3.6 to 15 */
  //background: radial-gradient(black 5%, lightgray 40%, white 55%); /* Standard syntax */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
