#bio-picture {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.bio-info {
  max-height: 350px;
  overflow-y: scroll;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3px;
  border-radius: 15px;
}

.bio-container {
  margin-top: 50px;
}
