.navbar {
  background: none !important;
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.navbar li a {
  color: black !important;
  letter-spacing: 5px !important;
}

.navbar li a:hover {
  font-weight: bold;
  font-size: 18px;
}

.navbar-nav {
  background: -webkit-linear-gradient(left top, lightgray, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, lightgray, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, lightgray, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, lightgray, white); /* Standard syntax */
  margin-top: 10px;
}

.scrollable {
  overflow-y: scroll;
}

.scroll {
  overflow-y: scroll;
}

#no-follow {
  a {
    text-decoration: none;
  }
  margin-left: 15px;
}

#follow {
  margin-top: 20px;
  margin-left: 275px;
  i {
    color: black;
  }
  a {
    margin-right: 10px;
  }
}

#registration_modal .modal-body {
  height: 650px;
}

.newsletter-picture {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

#mailing_list {
  color: black;
  font-size: 14px;
}

#logo {
  color: black;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  letter-spacing: 20px;
  margin-left: 35px;
}

.center {
  text-align: center;
}

.lato {
  font-family: 'lato-hai';
}

.title {
  font-size: 20px;
}

.sign-in {
  margin-top: 100px;
}

.black {
  color: black !important;
}

.white {
  color: white !important;
}

.no-list-style {
  list-style: none;
}

.red {
  color: red;
}

.notice {
  text-align: center;
  font-size: 18px;
  background-color: lightgreen;
  border-radius: 3px;
  font-family: 'lato-hai';
}

.error {
  text-align: center;
  font-size: 18px;
  background-color: red;
  border-radius:  3px;
  color: white;
  font-family: 'lato-hai';
}

.pointer {
  cursor: pointer;
}
