body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner {
  position: relative;
  z-index: -1;
  background: image-url('cover.jpg') 50% 0 no-repeat fixed; min-height: 650px;
  height: 650px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

#latest {
  background: image-url('latest.jpg') 50% 0 no-repeat fixed; min-height: 600px;
  height: 600px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  background-size: 100% 100%;
}

.content-container {
  height: 500px;
  position: absolute;
  top: 50px;
}

.content-div {
  max-width: 500px;
}

.blog-content {
  max-width: 510px;
  margin-right: 150px;
}

.posts {
  max-height: 650px;
  overflow-y: scroll;
}

.twitter-content {
  max-height: 800px;
  max-width: 800px;
  overflow-y: scroll;
}

.tweet-content {
  font-family: 'hai-lato';
  background-color: black;
  color: white;
  opacity: 0.8;
}

.caption {
  max-width: 500px;
  font-family: 'hai-lato';
  background-color: white;
}

.top-arrow {
  text-align: center;
}

.top-arrow a {
  color: black !important;
}

.banner-area {
  height: 458px;
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
  color: black;
  margin-left: 800px;
}

.banner-area h2 {
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 300px;
}

.spinner {
  margin-left: 50%;
  width: 50px;
}
