.media-bar {
  text-align: center;
  z-index: 10;
}

.media-link {
  padding-left: 30px;
  padding-right: 30px;
}

#music {
  position: relative;
  z-index: -1;
  background: image-url('music.jpg') 50% 0 no-repeat fixed; min-height: 650px;
  height: 650px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

#video {
  //background: image-url('video.jpg') 50% 0 no-repeat; min-height: 600px;
  background-color: gray;
  height: 800px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  background-size: 100% 100%;
}

#photo {
  background: image-url('photo.jpg') 50% 0 no-repeat; min-height: 800px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  background-size: 100% 100%;
}

.back-bar {
  background-color: rgba(0,0,0,.5);
}

.video-player {
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.youtube {
  position: relative;
  left: -50%;
  top: -50%;
}


.music-container {
  position: absolute;
  width: 100%;
  top: 10%;
  left: 5%;
}

.music-player {
  position: relative;
}

.catalog {
  position: relative;
  max-height: 500px;
  background-color: rgba(255,255, 255, .4);
  margin-right: 2%;
}

.album-content {
  max-height: 490px;
  overflow-y: scroll;
}

.album-img {
  position: relative;
  height: 192px;
  width: 192px;
}

#purchase {
  width: 100%;
  margin-bottom: 5px;
  color: white;
  background-color: black;
}

.album-title {
  text-decoration: underline;
}

.photos {
  max-width: 800px;
  max-height: 800px;
  margin-top: 100px;
  margin-left: 15%;
  position: absolute;
}

.img-sized {
  width: 800px;
  height: 450px;
}
