#contribution_edit_area {
  width: 90%;
}

.money-label {
  font-size: 20px;
}

.art-thumb {
  width: 160px;
  height: 160px;
}

.edit-div {
  width: 90%;
}

.thermometer-outer {
  background: gray;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}
.thermometer-outer-h {
  height: 20px;
  width: 100%;
}
.thermometer-outer-v {
  height: 200px;
  width: 20px;
}
.thermometer-inner {
  background: #5cb85c;
}
.thermometer-inner-h {
  border: 1px solid #c4c4c4;
  height: 20px;
}
.thermometer-inner-v {
  width: 20px;
}

.thermometer {
  box-shadow: 2px 2px 7px 1px;
}
