.shows {
  margin-top: 50px;
}

.datepicker {
  z-index: 1151 !important;
}

#add_show_modal .modal-body {
}

.add_show_container {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.edit-show {
  margin-left: 25px;
}
