#registration_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-body{ style: "height: 100% !important" }
        %h2 Join my Mailing List
        %form#registration_form
          .form-group
            %input#register_email.form-control{name: 'email', placeholder: "Enter email", type: 'email'}
            %hr
            -# = image_tag 'register.jpg', class: 'newsletter-picture'

          .pull-right
            %button.btn.btn-default{type: 'button', 'data-dismiss' => 'modal'} Close
            %button.btn.btn-inverse{type: 'submit'} Submit
        .clearfix
